* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: Roboto, sans-serif;
  color: #19304F;
}

h2 {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  color: #19304F;
}

h3 {
  color: #19304F;
  font-weight: normal;
  
}

p, li {
  font-family: Roboto, sans-serif;
  color: #222222;
  font-size: 16px;;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-left: 50px;
}
.background-white {
  background: white;
  width: 60vw;
  height: 60vh;
  margin: 50px;
}

.background-darkedblue {
  width: 30vw;
  height: 920px;
  background-color:#19304F;
}
